<h2>Lista de categorias:</h2>
<hr>
<<<<<<< HEAD
<a href="/admin/categorias/add/"><button class="btn btn-success">Nova Categoria</button></a>
=======
<a href="/admin/categorias/add"><button class="btn btn-success">Nova categoria</button></a>
>>>>>>> f34459e8020f86c4cb7487b84ae7fedea1042d2e
